@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.top-bar
{
  /* width: 1420px; */
    height: 47px;
    top: 17px;
    left: 35px;
}

header{
  /* width: 1512px; */
    height: 84px;
    top: -5px;
    background-color: #18546E;
}

.menu-item
{
  font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.48px;
    text-align: left;
    color: white
}

.hero-text
{
font-family: Arial;
  font-size: 25.71px;
  font-weight: 700;
  line-height: 31.6px;
  text-align: left;
  width: 1059.24px;
    height: 30.09px;
    top: 98px;
    left: 107px;
}
.image-size
{
  height: 129px !important;
}

.cover-image
{
  height: 410px !important;
}
.icon-size
{
  height: 24px !important;
  width: 24px !important;
}

.about-activity
{
  box-shadow: 0.88px 1.77px 8.4px 4.42px #00000014;
}

.about-text
{
  font-family: Inter;
    font-size: 21.94px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.about-desc
{
font-family: Inter;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #63687A;
}

.about-heading
{
font-family: Inter;
  font-size: 14.38px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #1A2B49;
}

.hero-expl
{
  border: 1px solid #CDCDCD
}

.expl-heading
{
font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 31.6px;
  text-align: left;
  color: #000000;
}

.expl-desc
{
  font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.52px;
    text-align: left;
    color: #2E2E2E;;
}

.custom-marker {
  --tw-marker-color: #2E2E2E;
}

.line-break
{
  border: 1px solid #B7B7B7
}

.price-desc
{
  font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.83px;
    text-align: left;
    color: #000000;
}

.price
{
  font-family: Arial;
    font-size: 21.22px;
    font-weight: 700;
    line-height: 25.47px;
    text-align: left;
    color: #000000 !important;
}

.btn
{
  background: #18546E;
  border: 0.88px solid #18546E !important;
    border-radius: 5px;
   
}

.btn-text
{
  font-family: Arial;
    font-size: 13.71px;
    font-weight: 700;
    line-height: 21.22px;
    text-align: center;
    color: #FFFFFF;
}

.date-time
{
  box-shadow: 0.88px 1.77px 8.4px 4.42px #0000001A;
}

.dt-sub-heading
{
  font-family: Arial;
    font-size: 17.88px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: left;
    color: #000000;
}

.calender-icon
{
  width: 18px !important;
  height: 40px !important;
}
.person-icon
{
  width: 18px !important;
  height: 18px !important;
}
.tick-icon
{
  width: 20px !important;
  height: 20px !important;
}

.date
{
  font-family: Arial;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #000000;
}

.dt-btn
{
  border: 0.91px solid #B3B3B3;
  border-radius: 3.63px;
}

.color-span
{
  color: #239506;
  font-family: Arial;
    font-size: 13.56px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.reg-span
{
  font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;
}

.why-us
{
  box-shadow: 0.88px 1.76px 8.35px 4.4px #0000001A;
    font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 18.48px;
}

.why-us-item
{
    font-family: Poppins;
      font-size: 12px;
      font-weight: 400;
      line-height: 26.98px;
}